LS1-style.css


div		{
	text-align: left;
	font-color: black;
}


body	{
	background-color: grey;
	font-family: "AnnMarker", AnnMarker;
	font-size: 80px;
}

a:link {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: none;
    background-color: transparent;
    text-decoration: none;
}