LS1-43-style.css

div {
    display: inline;
}
    
body {
    background-color: grey;
}

.container {
    display: inline;
    font-family: "AnnMarker", AnnMarker;
    float: left;
    z-index: -1;
}

.content {
    position: fixed;
    color: white;
    font-size: 35px;
}

a:link {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: none;
    background-color: transparent;
    text-decoration: none;
}