LS1-10-c2-style.css

div		{
	color: black;
}


body	{
	background-color: grey;
	text-align: left;
	font-family: "AnnMarker", AnnMarker;
	font-size: 80px;
}

a:link {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: none;
    background-color: transparent;
    text-decoration: none;
}