LS1-44-style.css

div {
    display: block;
}
    
body {
    background-color: grey;
    float: right;
}

p {
    display: inline-block;
    position: fixed;
    color: black;
    font-family: "AnnMarker", AnnMarker;
    font-size: 55px;
    text-align: center;
}

a:link {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: none;
    background-color: transparent;
    text-decoration: none;
}