v19-style.css

h1 {
	color: white;
	margin: 250px 250px;
    text-align: center;

}

body {
    background-color: lightgrey;
}

.div1 {
	margin: 350px 540px 350px 540px;
	background-color: black;
	color: purple;
    font-size: 5px;
    text-align: center;
}

.div2 {
	margin: 350px 530px 350px; 530px;
	background-color: black;
	color: white;
    font-size: 10px;
    text-align: center;
}

.div3 {
	margin: 350px 520px 350px 520px;
	background-color: black;
	color: purple;
    font-size: 15px;
    text-align: center;
}

.div4 {
	margin: 350px 510px 350px; 510px;
	background-color: black;
	color: white;
    font-size: 20px;
    text-align: center;
}

.div5 {
	margin: 350px 500px 350px 500px;
	background-color: black;
	color: purple;
    font-size: 25px;
    text-align: center;
}

.div6 {
	margin: 350px 490px 350px; 490px;
	background-color: black;
	color: white;
    font-size: 30px;
    text-align: center;
}

.div7 {
	margin: 350px 480px 350px 480px;
	background-color: black;
	color: purple;
    font-size: 35px;
    text-align: center;
}

.div8 {
	margin: 350px 470px 350px; 470px;
	background-color: black;
	color: white;
    font-size: 40px;
    text-align: center;
}

.div9 {
	margin: 350px 460px 350px 460px;
	background-color: black;
	color: purple;
    font-size: 45px;
    text-align: center;
}

.div10 {
	margin: 350px 450px 350px; 450px;
	background-color: black;
	color: white;
    font-size: 50px;
    text-align: center;
}

.div11 {
	margin: 350px 440px 350px 440px;
	background-color: black;
	color: purple;
    font-size: 55px;
    text-align: center;
}

.div12 {
	margin: 350px 430px 350px; 430px;
	background-color: black;
	color: white;
    font-size: 60px;
    text-align: center;
}

.div13 {
	margin: 350px 420px 350px 420px;
	background-color: black;
	color: purple;
    font-size: 65px;
    text-align: center;
}

.div14 {
	margin: 350px 410px 350px; 410px;
	background-color: black;
	color: white;
    font-size: 70px;
    text-align: center;
}

.div15 {
	margin: 350px 400px 350px 400px;
	background-color: black;
	color: purple;
    font-size: 75px;
    text-align: center;
}

.div16 {
	margin: 350px 390px 350px; 390px;
	background-color: black;
	color: white;
    font-size: 80px;
    text-align: center;
}

.div17 {
	margin: 350px 380px 350px 380px;
	background-color: black;
	color: purple;
    font-size: 85px;
    text-align: center;
}

.div18 {
	margin: 350px 370px 350px; 370px;
	background-color: black;
	color: white;
    font-size: 90px;
    text-align: center;
}

.div19 {
	margin: 350px 360px 350px 360px;
	background-color: black;
	color: purple;
    font-size: 95px;
    text-align: center;
}

.div20 {
	margin: 350px 350px 350px; 350px;
	background-color: black;
	color: white;
    font-size: 100px;
    text-align: center;
}

.div21 {
	margin: 350px 340px 350px 340px;
	background-color: black;
	color: purple;
    font-size: 105px;
    text-align: center;
}

.div22 {
	margin: 350px 330px 350px; 330px;
	background-color: black;
	color: white;
    font-size: 110px;
    text-align: center;
}
