w-h-style.css

.usmap	{
	display: block;
    margin-left: auto;
    margin-right: auto;
	float: center;

}

.usmap:hover	{
	-webkit-transform: <img src="imagesp3/i2.jpg";
	transform: <img src="imagesp3/i2.jpg";
}