v15-style.css

p {
	margin-left: 150px;
}

p {
	margin-left: 150px;
	border-width: 75px;
	border-left-style: solid;
	border-color: black;
	background-color: grey;
	color: white;
}

h1 {
	border-left-style: solid; 
	border-color: black;
	border-width: 75px;
	background-color: lightgrey;
	color: white;
	margin-left: 150px;

}